@charset "utf-8";

.o-main {
    counter-reset: number;
    .c-containerEyecatch {
        h2::before {
            counter-increment: number;
            content: counter(number, decimal-leading-zero)'.';
            margin-right: 0.5rem;
        }
        pre {
           background-color: $accent-color;
           padding: 0 1rem;
        }
    }
}
