<%- include('partial/_head') %>
<body>
<%- include('partial/_header') %>
<main class="l-main o-main">
    <section class="container my-5">
        <h2>Error</h2>
        <p>An error has occurred.</p>
    </section>
</main>
<%- include('partial/_footer') %>
<%- include('partial/_js_loader') %>
</body>
</html>