@charset "utf-8";

/* ********************************************* **
**                                               **
** foundation                                    **
**                                               **
** ********************************************* */
@import "foundation/variables";

/* ********************************************* **
**                                               **
** layout                                        **
**                                               **
** ********************************************* */
@import "layout/footer";

/* ********************************************* **
**                                               **
** object/utility                                **
**                                               **
** ********************************************* */
@import "object/utility/link"; //aタグの色

/* ********************************************* **
**                                               **
** object/component                              **
**                                               **
** ********************************************* */
@import "object/component/header";
@import "object/component/main";
@import "object/component/footer";
